/* font-family: 'Balsamiq Sans', cursive;
font-family: 'Roboto Slab', serif; */
body {
  /* background-color: #fafafa; */
  background-color: rgb(68, 44, 44);
}
.container-jg {
  border: dashed black 2px;
}
.header {
  text-align: center;
  font-family: "Balsamiq Sans", cursive;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-top: 20px;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
  text-shadow: 4px 4px #000;
}

.h2s {
  text-align: center;
  font-family: "Balsamiq Sans", cursive;
  font-weight: 700;
  font-size: 1.5;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 3px 4px #606060;
  color: #ff4c00;
}

body {
  font-family: "Roboto Slab, serif";
}

.burger-img {
  display: block;
  margin: 25px auto 25px auto;
  background-color: rgb(240, 186, 11);
}

li {
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
  list-style: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.create-form {
  margin-top: 60px;
  display: block;
  text-align: center;
}

button.devour {
  float: right;
}

.magic {
  /* background-color: #343a40; */
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );

  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  font-family: "Balsamiq Sans", cursive;
}

.magic {
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.follow {
  margin-top: 40px;
}

.follow a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.area-jg {
  width: 200px;
}
