<div class="wrapper">
<div class="bigwrap">

    <img src="../assets/img/Hand-drawn-burger-on-transparent-background-PNG.png" class="burger-img" alt="hand drawn burger" width=250;>

    <div class="headwrap2 clearfix">
    <h1 class="header text-warning">BurgerEats</h1>
    <h6 class="tagline text-warning clear: left">Hamburger,  hamburger, hamburger...cheezeburger</h6>
    </div>
 </div>   
 </div>
        <div class="row justify-content-md-center">
          <div class="col-sm">
            <h2 class="h2s">New Burgers</h2>
            <hr>
              <ul>
        {{#each burger}}
        {{#unless devoured}}
        {{> burgers/burger-block1 devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-sm">
      <h2 class="h2s">Chewed Burgers</h2>
      <hr>
      <ul>
        {{#each burger}}
        {{#if devoured}}
        {{> burgers/burger-block2 devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>

    <form class="create-form" id="create-burger">
    <h2 class="h2s">Create Burger?</h2>
      <label for="bg"></label>
      <input class="area-jg" type="text" id="bg" name="name" placeholder="Burger Name..." required>
  <button class="magic" type="submit">Magic Burger-Maker Button</button>
  </form>
  </div>
</div>
</div>
