li {
  padding: 5px;
  margin: 5px;
  background: #c5c2bf;
  list-style: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.create-form {
  margin-top: 50px;
  display: block;
  text-align: center;
}

button.devour {
  float: right;
}

.area-jg {
  padding: 40px 60px;
  margin: 25px 0;
}
