<li>	
<p>
	{{burger_name}}
	<button class="devour btn-warning burg-btn" data-id="{{id}}" data-devoured="{{devoured}}">ReOrder</button>
	<button class="delete burg-btn" data-id="{{id}}">DELETE!</button></p>
</li>